@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*font-family: 'Roboto', sans-serif;*/

:root {
    --max-width-desc: 945px;
    --main-bg-color: #20202D;
    --second-bg-color: #000000;
    --main-text-color: #ffffff;
    --main-button-color: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    --main-button-shadow-color: #B68500;
    --orange-color: #FFBB01;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

a {
    text-decoration: none;
    color: var(--main-text-color)
}

ul, menu {
    list-style: none;
}


/*---<elements>--*/

.button {
    border: none;
    outline: none;
    padding: 24px 41px;
    border-radius: 5px 5px 10px 10px;
    background: var(--main-button-color);
    box-shadow: 0px 4px 0 var(--main-button-shadow-color);
    font-weight: 700;
    text-transform: uppercase;
}

.icon-menu {
    display: flex;
    align-items: center;
}
.icon-menu__item {
    margin-left: 20px;
}

/*---<elements>--*/


/*
    layout blocks
*/

.container {
    max-width: var(--max-width-desc);
    margin: 0 auto;
}

.main-block {
    background: linear-gradient(0deg, #000000, rgba(0, 0, 0, 0));
}

/*Header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}
.header__logo {

}

/*Main*/

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main>* {
    /* width: 40%; */
    margin-top: 50px;
    margin-bottom: 150px;
}

.main__about {
    /* max-width: 420px; */
    width: 50%;
}

.main__activity {
    color: var(--orange-color);
    font-size: 24px;
    margin-bottom: 14px;
}

.main__name {
    font-size: 50px;
    margin-bottom: 20px;
}

.main__description {
    font-size: 16px;
    margin-bottom: 38px;
}

.main__photo {
    width: 390px;
    height: 390px;
    border-radius: 50%;
    border: 15px solid var(--main-text-color);
    background-image: url('../img/me.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Advantages section */

.advantage {
}

.advantage__img {
    margin-bottom: 22px;
}

.advantage__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
}

.advantage__description {
    font-size: 16px;
    line-height: 1.7em;
}

.title {
    font-size: 36px;
}

.advantages {
    padding: 65px 0;
    background-color: var(--second-bg-color);
}

.advantages__title {
    margin-bottom: 84px;
}

.advantages__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 28px;
}

.advantages__advantage {
    flex-basis: 30%;
    margin-bottom: 75px;
}

/* Feedback section */

.form {
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-text-color);
    border-radius: 5px;
    box-shadow: -4px 4px 0px var(--orange-color);
}

.form__legend {
    color: black;
    font-weight: 700;
    font-size: 18px;
    padding: 0 12px;
    margin-bottom: 29px;
    text-align: center;
    line-height: 28px;
}

.form__input {
    font-size: 14px;
    line-height: 28px;
    padding: 18px 49px;
    margin-bottom: 17px;
    background-color: #f8f8f8;
    border: none;
    border-radius: 5px;
    outline: none;
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.form__button {
    margin: 9px 0;
    font-size: 12px;
}

.form__input_name {
    background-image: url('../img/user-icon.svg');
}

.form__input_phone {
    background-image: url('../img/phone-icon.svg');
}

.contacts {

}

.contacts__title {
    display: block;
    font-size: 24px;
    margin-bottom: 15px;
}

.contacts__list {
    display: flex;
}

.contacts__item {
    margin-right: 37px;
}

.contacts__link {
    font-size: 16px;
}

.contacts__link:hover {
    text-decoration: underline;
}

.feedback {
    padding: 57px 0 148px 0;
}

.feedback__title {
    margin-bottom: 84px;
}

.feedback__container {
    display: flex;
    justify-content: space-between;
}

.feedback__form {
    flex-basis: 380px;
}

.feedback__info {
    flex-basis: 350px;
}

.feedback__addres {
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}

.feedback__contacts:last-child {
    margin-top: 53px;
}

.feedback__icon-menu {
    margin-bottom: 72px;
}

.feedback__icon-menu > *:first-child {
    margin-left: 0;
}

.feedback__politics {
    text-decoration: underline;
    color: #A5A5A5;
    font-size: 15px;
}

/* Projects section */

.slide {
    padding: 2px
}

.slide__media {
    flex-basis: 35%;
    max-height: 270px;
    overflow: hidden;
    border-radius: 6px;
}

.slide__img {
    width: 100%;
    border-radius: 6px;
}

.slide__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide__info {
    flex-basis: 57%;
    display: flex;
    flex-wrap: wrap;
}

.slide__info>* {
    margin-right: 64px;
    margin-bottom: 44px;
}

.slide__info>*:first-child, .slide__info>*:last-child {
    flex-basis: 100%;
    margin-right: 0;
}

.slide__info>*:last-child {
    margin-bottom: 0;
}

.detail {
    display: flex;
}

.detail__info {
}

.detail__img {
    align-self: start;
    padding-right: 16px;
}

.detail__title {
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 700;
}
.detail__description {
    font-size: 16px;
}

.projects {
    background: linear-gradient(180deg, #000000, rgba(0, 0, 0, 0));
    padding: 126px 0 108px 0;
}

.projects__title {
    margin-bottom: 76px;
}

.projects__swiper-wrapper {
    display: flex;
    align-items: center;
}

.projects__pagination {
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.projects__bullet {
    height: 10px;
    width: 10px;
    display: inline-block;
    border: 2px solid var(--orange-color);
    border-radius: 50%;
    margin: 0 5px;
}

.projects__bullet_active {
    background-color: var(--orange-color);
}
